.container-fluid {
  padding: 0;
}

@media (min-width: 768px) {
.navbar-right {
  margin-right: 1vw;
}
}

.custom-thumbnail {
  height: 25vh;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 3em;
  border-radius: 0.3em;
}
